<!-- About Me -->
  <section class="page-section" id="{{ site.data.sitetext.aboutme.section | default: "aboutme" }}">
    <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center mb-5">
				<h2 class="section-heading text-uppercase">{{ site.data.sitetext.aboutme.title | default: "About Me"}}</h2>
			</div>
			{% if site.data.sitetext.aboutme.text %}
			<div class="col-lg-12 text-muted">
				{% if site.data.sitetext.aboutme.subhead %}
				<h4 class="subheading"> {{ site.data.sitetext.aboutme.subhead }}</h4> 
				{% endif %}
				{{ site.data.sitetext.aboutme.text }}
			</div>
			{% endif %}
		</div>
    </div>
  </section>
<!-- End About Me -->