<!-- papers Modals -->
{% for paper in site.papers %}
  <div class="papers-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- paper Details Go Here -->
                <h5 class="text-uppercase mb-3">Title: {{ paper.title }}</h5>
				{% if paper.abstract_kor %}
				<p class="text-justify">초록: {{ paper.abstract_kor }}</p>
				{% endif %}
				{% if paper.abstract_en %}
				<p class="text-justify">Abstract: {{ paper.abstract_en }}</p>
				{% endif %}
                <button class="btn btn-danger" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  {{ site.data.sitetext.papers.closebutton | default: "Close" }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End papers Modals -->